/* กำหนดขนาดและการจัดวางของแต่ละช่อง (วงกลม+คำอธิบาย) */
.path-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; 
  /* ระยะห่างด้านข้าง */
  margin: 10%; 
}

/* ภาชนะบรรจุวงกลมหลัก */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%; /* ระยะห่างระหว่างวงกลมกับคำอธิบาย */
}

/* รูปทรงวงกลม */
.circle-shape {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  background-color: var(--blue-dark); 

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden; /* ทำให้ภาพไม่เลยขอบวงกลม */
}

/* สไตล์รูปภาพภายในวงกลม */
.circle-image {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  opacity: 0.4; 
  transition: opacity 0.3s;
  pointer-events: none; /* แก้ปัญหา cursor รวน */
}

.circle-shape:hover .circle-image {
  opacity: 1; 
}

/* สไตล์คำอธิบายด้านล่าง */
.description-text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;
  max-width: 16vw; 
}