.text-primary {
    color: #007bff;
}

.bg-primary {
    background-color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

.bg-secondary {
    background-color: #6c757d;
}

.text-success {
    color: #28a745; 
}