@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-angsana {
    font-family: "Angsana New", Times, serif; 
}

.font-sarabun {
    font-family: "TH Sarabun New", "TH Sarabun PSK", sans-serif; 
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

